<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunA.login.mapper.LoginMapper">
	<resultMap id="BaseResultMap" type="com.sunA.login.Bean.Login">
		<result column="sid" property="sid" />
		<result column="username" property="userName" />
		<result column="password" property="password" />
	</resultMap>

	<parameterMap id="Login" type="com.sunA.login.Bean.Login"/>

	<sql id="Base_Column_List">
		sid sid,
		user_name userName,
		password password
	</sql>

	<select id="login" resultMap="BaseResultMap" parameterMap="Login">
		select
		<include refid="Base_Column_List" />
		from login where user_name = #{userName}
	</select>

</mapper>
